body {
  background: #100e10;
  text-align: center;
}

header {
  display: block;
  position: fixed;
  width: 100%;
  height: 84px;
  z-index: 3;
}

header>div:first-of-type {
  width: 1280px;
  margin: 0 auto;
  background:#3a3a3a;
  height: 100%;
}

header .my-logo {
  width: 240px;
  background: #4a8;
  height: 100%;
  float: left;
  background-color: #000;
  background-image: url("../img/logo.png");
  background-size: contain;
}

.hamberger {
  display: none;
  width: 84px;
  height: 84px;
  padding: 13px;
}

.hamberger i {
  vertical-align: middle;
  color:  rgba(253, 195, 222, 0.9);
  width: 58px;
  height: 58px;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  transition-duration: 0.3s;
  border: 3px  rgba(253, 195, 222, 0.9) solid;
  border-radius: 0.8rem;
}

.hamberger .mask {
  width: 100vw;
  height: 100vh;
  background: #203824;
  opacity: .5;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.nav-control-base {
  height: 84px;
  background:#3a3a3a;
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.nav-control-base div {
  display: inline-block;
}

.nav-control-base div>a, a {
  text-decoration: none;
  /*font-family: 'cwTeXYen', sans-serif;*/
  font-family: 'Kosugi Maru', sans-serif;
  display: inline-block;
  font-size: 1.6em;
  /*font-weight: 300;*/
  line-height: 2;
  padding: 1rem 0 1rem;
  text-align: center;
  min-width: 6rem;
  color: #fff;
}

.nav-control-base div>a, a:hover {
  color: #fff;
  text-decoration: none;
}

.nav-control-base div>a>i {
  color: #fcfcfc;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  transition-duration: 0.3s;
}

main {
  width: 1280px;
  padding-top: 104px;
  margin: 0px auto;
}

article {
  border: 8px #3a3a3a solid;
}

.nav-main-title {
  height: 480px;
  width: 200px;
  padding: 40px 20px;
  position: relative;
  float: left;
  display: table-cell;
  margin-right: -280px;
  left: 60px;
  top: 60px;
  z-index: 2;
  background: linear-gradient(to left top, rgba(160, 160, 160, .8), rgba(234, 234, 234, .8));
  /*background-color: rgba(248, 248, 248, 0.8);*/
  background-size: contain;
  padding: 0.125rem;
  border-radius: 16px;
}

.nav-main-title::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.nav-main-title h1 {
  -webkit-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  -ms-writing-mode: vertical-rl;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  /*font-family: 'corp_round_v1', sans-serif;*/
  font-family:'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 5.5rem;
  letter-spacing: 14px;
  background: -webkit-linear-gradient(top, #ff6cb7, #fd0b58);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-main-title h2 {
  -webkit-writing-mode: vertical-rl;
  /* for browsers of webkit engine */
  writing-mode: tb-rl;
  /* for ie old*/
  -ms-writing-mode: vertical-rl;
  margin: 0;
  display: inline;
  padding: 16px 0;
  vertical-align: middle;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: 900;
  background: -webkit-linear-gradient(left, #6fb4ff 0, #35e6de 100%);
  border-radius: 19px;
}

.swiper-slide, .swiper-slide div {
  width: 1280px;
  margin: 0 auto;
  background: -webkit-linear-gradient(top, #edddd0, #e9d8ce);
  /*  background: -webkit-linear-gradient(top, #edddd0, #e9d8ce);*/
  /*background: url("../img/main01.jpg");*/
  height: 560px;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  background-size: contain, auto;
}

.swiper-button-prev {
  left: auto;
  right: 80px;
}

.swiper-button-next, .swiper-button-prev {
  top: 90%;
  background-color: #3a3a3a;
  padding: 28px 28px;
  background-image: none;
  border-radius: 8px;
}

.swiper-button-next i, .swiper-button-prev i {
  color: #fcfcfc;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  transition-duration: 0.3s;
  position: relative;
  margin: -36px -10px;
}

#mainData_panel {
  float: left;
  width: 960px;
  background: #3a3a3a;
  margin-top: 20px;
  border: 8px #3a3a3a solid;
}

#mainData_panel section {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #3a3a3a
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.list-more{
float: right;
margin: 8px;
background: #e05e9e;
border-radius: 4px;
}
.list-more a{
  display: block;
width: 180px;
padding:0;
color: #fff;
}
#mainData_panel .table-base{
padding: 8px 16px;
}

#mainData_panel .table-base{
  clear: both;
width: 100%;
font-family:'Noto Sans JP', sans-serif;
}
.table-base ul{
  list-style-type:none;
  margin:0px;
  padding: 0px;
}
#mainData_panel .table-base li{
border-bottom: 1px solid #c1c1c1;
}
.table-base .date {
  display: inline-block;
    width: 120px;
    color: #595757;
    font-size: 20px;
    line-height: 32px;
}

.table-base .category {
  display: inline-block;
    width: 110px;
    margin: 4px 8px ;
    color: #e05e9e;
    font-size: 20px;
    line-height: 28px;
    border: 1px solid #e05e9e;
}
.table-base .text {
  display: inline-block;
    width:650px;
    color: #595757;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    cursor: pointer;
}


section .row div {
  margin: 8px;
  height: 410px;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
transition: transform 0.2s linear;
}
section .row div:hover{
 transform: scale(1.1);
}

section .row div:last-child {
  margin-right: 20px;
}
.row h5{
  margin-top:300px;
  font-size: 60px;
  -webkit-text-stroke: 4px #ef70ae;
  font-weight: 700;
  color: #3f3f3f;
}
section .sidelist{
  width: 240px;
  margin: 8px 8px 0 8px;
  height: 394px;
}
section .sidelist >div{
  width: 240px;
  margin: 8px 0 0 0;
  height: 120px;
  background-color: #55df3a;
}

#mainData_panel>div:last-child {
  width: 280px;
  height: 48px;
  background: #e2862f;
  margin: 16px auto 0 auto;
}

#mainData_panel>div:last-child a {
  padding: 0;
}

main aside {
  width: 320px;
  background: #fff;
  margin-top: 20px;
  padding: 16px;
  float: right;
  border: 8px #3a3a3a; solid;
}

aside>div:first-child {
  width: 100%;
  background: #3d5;
  height: 640px;
  background-image:
}

aside>div:not(:first-child) {
  width: 100%;
  background: #d894f3;
  height: 320px;
  margin-top: 16px;
}

aside>div:last-child {
  width: 100%;
  background: #f26619;
  height: 100px;
  margin-top: 16px;
}

footer {
  clear: both;
  height: 320px;
  width: 100%;
}

footer>div:first-of-type {
  margin: 0 auto;
  height: 100%;
  width: 1280px;
  background: #697caa;
}

@media screen and (max-width: 1280px) {
  header>div:first-of-type, main, footer>div:first-of-type {
    width: 100%;
  }

  .swiper-slide, .swiper-slide div {
    width: 100%;
  }

  #mainData_panel {
    float: none;
    width: 100%
  }

  aside {
    float: none;
    width: 100%;
  }



  main aside {
    margin: 0 auto;
    display: block;
    width: 800px;
    float: none;
  }

  aside>div:first-child {
    height: 1280px;
  }

  aside>div:not(:first-child) {
    height: 640px;
  }

  aside>div:last-child {
    height: 200px;
  }

  body {
    background: #99d61c;
  }
}

@media screen and (max-width: 980px) {
  article {
    margin-top: 70px;
  }

  .nav-main-title {
    width: 480px;
    margin: 0 auto;
    position: absolute;
    top: 84px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 160px;
    background-size: contain;
    padding: 4px 0;
    text-align: center;
  }

  .nav-main-title::before {
    display: initial;
  }

  .nav-main-title h1 {
    -webkit-writing-mode: horizontal-tb;
    /* for browsers of webkit engine */
    writing-mode: rl-tb;
    /* for ie old*/
    -ms-writing-mode: horizontal-tb;
    display: inline-block;
  }

  .nav-main-title h2 {
    -webkit-writing-mode: horizontal-tb;
    /* for browsers of webkit engine */
    writing-mode: rl-tb;
    /* for ie old*/
    -ms-writing-mode: horizontal-tb;
    background: -webkit-linear-gradient(bottom, #b591c7 0, #35e6de 100%);
    background: -o-radial-gradient(bottom, #b591c7 0, #35e6de 100%);
    background: -moz-radial-gradient(bottom, #b591c7 0, #35e6de 100%);
    background: radial-gradient(bottom, #b591c7 0, #35e6de 100%);
    padding: 4px 8px;
    border-radius: 24px;
  }
#mainData_panel section{
height: 100%;

}
.table-base .text{
  width: 100%;
  margin:0 8px;
}
.table-base .date, .table-base .category{
float: left;
}

  body {
    background: #f42266;
  }
}

@media screen and (max-width: 800px) {
  .hamberger {
    display: inline-block;
    position: absolute;
    right: 0;
  }

  .nav-control-base {
    width: 280px;
    height: auto;
    top: 84px;
    position: relative;
    right: -280px;
    transition: all .3s ease-in;
  }

  .nav-control-base div {
    width: 100%;
  }

  .nav-control-base div>a {
    width: 280px;
  }

  .nav-control-base div:not(:last-child) {
    border-bottom: 3px #665533 solid;
  }

  article {
    margin-top: 140px;
    padding: 0px;
  }

  .swiper-slide, .swiper-slide div {
    height: 440px;
  }

  #mainData_panel section {
    height: 400px;
  }

  #mainData_panel section>div:first-child {
    height: 400px;
    width: 50%;
  }

  main aside {
    width: 600px;
    margin: 0 auto;
  }

  aside>div:first-child {
    height: 960px;
  }

  aside>div:not(:first-child) {
    height: 420px;
  }

  aside>div:last-child {
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .swiper-slide, .swiper-slide div {
    height: 280px;
  }

  main aside {
    width: 450px;
  }

  aside>div:first-child {
    height: 720px;
  }

  aside>div:not(:first-child) {
    height: 315px;
  }

  aside>div:last-child {
    height: 113px;
  }
}

@media screen and (max-width: 536px) {
  .nav-control-base {
    top: 0px;
  }
}

@media screen and (max-width: 480px) {
  article {
    margin-top: 100px;
  }

  .nav-main-title {
    width: 100%;
    height: 120px;
  }

  .nav-main-title h1 {
    letter-spacing: 0px;
    left: 0;
    font-size: 4.5rem;
  }

  .nav-main-title h2 {
    font-size: 1.25rem;
  }

  main aside {
    width: 360px;
  }

  aside>div:first-child {
    height: 540px;
  }

  aside>div:not(:first-child) {
    height: 236px;
  }

  aside>div:last-child {
    height: 84px;
  }
}

@media screen and (max-width: 320px) {
  main aside {
    width: 240px;
  }

  aside>div:first-child {
    height: 405px;
  }

  aside>div:not(:first-child) {
    height: 177px;
  }

  aside>div:last-child {
    height: 63px;
  }
}
